<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .active {
                color: red;
            }
        </style>
    </head>
    <body>
        <h3>Socket.io Khoa Pham 123</h3>
        <button id="btnShow">Show sth</button>
        <div id="divMessages">
        </div>
        <input type="text" id="txtMessage" placeholder="Enter your message">
        <button id="btnSend">Send</button>
    </body>
</html>
<script src="jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="main.js"></script>
<script src="/reload/reload.js"></script> 
